*{
    margin: 0 auto;
    padding: 0;
}
video{
    width: 100%;
    height: 100%;
}
#external{
    width: 100%;
    height: 100%;
}
button{
    width: auto;
    height: 20px;
}
#BottomTaskbar{
    text-align: center;
}