*{
    margin: 0 auto;
    padding: 0;
}
video{
    width: 100%;
    height: 100%;
}
#p1{
    text-align: center;
    font-family: 隶书,serif;
    font-size: 30px;
}
a{

}
#external{
    width: 100%;
    height: 120px;
    background-image: linear-gradient(45deg,royalblue,salmon);
    border: blueviolet 2px solid;
    border-radius: 30px;
}
button{
    width: auto;
    height: 20px;
}
#BottomTaskbar{
    text-align: center;
}