/*github的css*/
*{
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
html{
    background-color: #EDE6C9;
    line-height: 3vh;
}
a{

}
button{
    padding: 3vh;
    border-radius: 30vh;
    border: 1vh solid #6E5EDD;
}
button:hover{
    background: #00BFFF;
}